  <h1 class="bg-success-subtle p-2 text-center text-success w-100">CREATE PASSWORD</h1>
  <form
    class="m-3 d-flex flex-column justify-content-evently flex-wrap align-items-center"
    style="width: 380px;"
  >
    <input
      class="m-2 p-2 text-center w-100"
      type="text"
      name="newPassword"
      id="newPassowrd"
      placeholder="CREATE NEW PASSWORD"
    />
    <input
      class="m-2 p-2 text-center w-100"
      type="text"
      name="confirNewPassword"
      id="confirmNewPassword"
      placeholder="CONFIRM NEW PASSWORD"
    />
    <input
      class="m-2 p-2 text-center btn btn-success w-100"
      type="button"
      id="resetPassword"
      value="CREATE NEW PASSWORD"
    />
  </form>
</main>
<script src="/scripts/newPassword.js"></script>