<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">
    REGISTER A PRODUCT
  </h1>
  <form
    class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center"
    style="width: 380px;"
  >
    <input
      class="m-2 p-2 text-center w-100"
      type="text"
      name="productName"
      id="productName"
      placeholder="Product name"
    />
    <input
      class="m-2 p-2 text-center w-100"
      type="number"
      name="stock"
      id="stock"
      placeholder="Product Stock"
    />
    <input
      class="m-2 p-2 text-center w-100"
      type="number"
      name="price"
      id="price"
      placeholder="Product Price"
    />
    <input
      class="m-2 p-2 text-center w-100"
      type="text"
      name="image"
      id="image"
      placeholder="Product Image (URL)"
    />
    <input
      class="m-2 p-2 text-center w-100"
      type="text"
      name="category"
      id="category"
      placeholder="Product Category"
    />
    <input
      class="m-2 p-2 text-center btn btn-success w-100"
      type="button"
      id="registerAProduct"
      value="REGISTER!"
    />
  </form>
</main>
<script src="./scripts/productRegister.js"></script>