<main class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg" style="width: 400px;">
    <div class="card-header bg-primary text-white text-center">
      <h2>Log In</h2>
    </div>
    <div class="card-body">
      <form class="d-flex flex-column" id="loginForm">
        <div class="mb-3">
          <label for="UserEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="UserEmail"
            placeholder="Enter your email"
          />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password"
            placeholder="Enter your password"
          />
        </div>
        <button type="button" id="LogIn" class="btn btn-primary w-100">Log In</button>
        <a
          class="m-2 p-2 text-center btn btn-success w-100"
          id="resetPassword"
          href="/resetPassword"
        >
          RESET PASSWORD
        </a>
      </form>
    </div>
  </div>
</main>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="./scripts/logIn.js"></script>